<ul>
    <li><%= user.username %></li>
    <li><%= user.email %></li>
    <li><%= user.age %></li>
    
    <% if action == :show %>
        <li><a href="<%= users_url %>">User Index</a></li>
    <% else %>
    <li><a href="<%= user_url(user) %>">User Show</a></li>
    <% end %>
</ul>